#restart{
    margin: auto;
    width: 80%;
    /*border: 3px solid rgb(8, 56, 160);*/
    border-radius: 15px;
    padding: 10px;
    background-color: lightsteelblue;
    text-align: center;
}
.btnEvenOdd{
    
    background-color: #ddd;
    border: 3px solid rgb(8, 56, 160);
    border-radius: 15px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}
.btnEvenOdd:hover {
    background-color: #0823be;
    color: white;
  }

  h1 {
    color:#0823be;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: center;
  }
  
  hr{
    border-top: 1px dashed #0823be;
   }
   h4{
       color:#0823be;
       font-style: oblique;
       font-family: 'Times New Roman', Times, serif;
       text-align: left;
       font-size: large;
   }
   p{
       font-style: oblique;
       font-family: 'Times New Roman', Times, serif;
       font-size:medium;
    }
   .description{
    margin: auto;
    width: 50%;
    border: 3px solid#0823be;
    border-radius: 15px;
    padding: 10px;
    background-color: gainsboro;

   }
    img {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    width: 50px;
    float: right;
    margin: 0px 15px 15px 0px;
  }
  #restart{
      display: none;
      text-align:center;
      color:#0823be ;
  }
  #table{
      display:none;
      font-style: oblique;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #btnEvenOdd{
    text-align: center;
    display: block;
  } 